.onas_block{
	font-size: 15px;
	line-height: 26px;
}
.onas_block .row{
	margin: 17px 0;
}
.onas_block picture, .onas_block img{
border-radius: 25px;
}
.onas_header{
	margin: 25px 0 10px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.onas_descr_block{
	width: 75%;
	margin: 0 auto;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
	border-left-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	border-bottom-color: #ddd;
	font-weight: bold;
	font-size: 19px;
	color: rgb(52, 81, 14);
}

.angular-google-map {
	display: block;
	height: 400px; 
	width: 400px;
	margin: 0 auto;
}