.onas_block{
	font-size: 15px;
	line-height: 26px;
}
.onas_block .row{
	margin: 17px 0;
}
.onas_block picture, .onas_block img{
border-radius: 25px;
}
.onas_header{
	margin: 25px 0 10px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.onas_descr_block{
	width: 75%;
	margin: 0 auto;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
	border-left-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	border-bottom-color: #ddd;
	font-weight: bold;
	font-size: 19px;
	color: rgb(52, 81, 14);
}

.angular-google-map {
	display: block;
	height: 400px; 
	width: 400px;
	margin: 0 auto;
}

.example-date {
	background-color: #987;
	float: left;
	position: relative;
	padding: 45px 5px 0px;
	margin-left: 10px;
}

.example-date .example-day {
	font-size: 45px;
	line-height: 45px;
	position: absolute;
	left: 5px;
	top: 0px;
}
.example-date .example-month {
	font-size: 19px;
}
.example-date .example-year {
	display: block;
	position: absolute;
	right: -5px;
	top: 15px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}


.onas_block .inline-link-3, .onas_block .inline-link-3 a {
    display: inline-block;
    position: relative;
    padding-left: 6px;
    /* Font styles */
    text-decoration: none;
    color: #6AB3EC;
    text-shadow: 0 1px 1px rgba(255,255,255,0.9);
}

.onas_block .inline-link-3:hover {
    color: #3C9CE7;
    font-weight: bold;
}
 
.onas_block .inline-link-3:before {
    content: "\25BA";
    font-size: 80%;
    display: inline-block;
    padding-right: 3px;
    pointer-events: none;
}
 
.onas_block .inline-link-3:hover:before {
    color: #F2BF97;
}