@font-face {
  font-family: 'MyPTSans';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'MyTinos';
  src: url('../fonts/Tinos/Tinos-Regular.ttf') format('truetype');;
}
@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster/Lobster.ttf') format('truetype');;
}


body {
  background-image: url("../images/bg_brown_big.jpg");
  box-shadow:       inset 0 0 100px rgba(99,80,65,.5);

  font-family:  '   MyPTSans', 'PT Sans', sans-serif; 
  font-weight:      400;
  font-size:        34px;
  line-height:      40px;
}

.page-header {
  font-weight: bold;
}
#home_page_intro {
  font-family:      'MyTinos', 'Tinos', serif;
  font-size:        23px;
  margin:           30px 0;
}
.navbar-nav {
  font-size:        15px;
}
.nav-pills {
  font-size:        14px;
}
.navbar-fixed-bottom .navbar-nav {
  font-size:        17px;
}

.text_middle h2 {
  font-size:        41px;
  font-weight:      bold;
}


/* Navbar_top
================================ */
.navbar-header {
  position:         absolute;
  z-index:          999;
}
.top_nav_menu {
  padding:          20px 30px 50px 0;
}

/* Mainbox
================================ */
.main_box_top_img {
  background:       url("../images/gwiazdki.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
  height:           28px;
  clear:            both;
}

.main_box {
  margin-top:       -12px;
  margin-bottom:    55px;
}
.white_box {
  background-color:  #ffffff;
}

/* Layout
================================ */
.width_800px{
	width: 				800px;
}

.width_50 {
	width: 				50%;
}

.side_padding {
  padding:      0 45px;
}

.container{
	clear: 				both;
}

.navbar-toggle {
  background-color: #34510e;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

/* Navigation
================================ */
.navbar {
  background-color:     #34510e;
  border-bottom-color:  #546835;
}

.navbar-nav>li.active>a, .navbar-nav>li.active>a:hover, .navbar-nav>li.active>a:focus {
  background-color:     #213605;
}

a {
  color:            #ffffff;
}
a:hover {
  color:            #213605;
}

.main_logo {
  background: 	    url("../images/logo_pttk.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
  height: 			    158px;
  width: 				    162px;
  margin-top: 	    9px;
  overflow: 		    hidden;
  text-indent: 	    100%;
  white-space: 	    nowrap;
  margin-left:      25px;
  color:            #34510E;
  text-shadow:      none;
}


.page-header {
  border:           none;
  color:            black;
  overflow:         auto;
  margin:           50px 0 80px;
}

.zamek_container {
  position:         relative;
  margin-left:      -37px;
  z-index:          25;
  margin-top:       -20px;  
}

.zameczek_logo{
  background:       url("../images/logo_zameczek.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
  height:           133px;
  width:            145px;
  margin-top:       22px;
  overflow:         hidden;
  text-indent:      100%;
  white-space:      nowrap;
  color:            rgba(0, 0, 0, 0);
  text-shadow:      none;
}

.text_top, .text_middle, .text_bottom {
  border-radius:    10px;
 }
.text_top {
  width:            450px;
  height:           60px;
  background:       url("../images/bg_grey.jpg") repeat;
  text-align:       right;

  position:         relative;
  z-index:          99;
  margin-top:       50px;
  padding-top:      10px;
}
.text_top small {
  padding-right:    30px;  
}
.text_middle {
  width:            850px;
  height:           130px;
  margin-left:      60px;
  margin-top:       -15px;
  background:       url("../images/bg_red.jpg") repeat;

  position:         relative;
  z-index:          20;  
}
.text_middle h2 {
  margin:           0;
  padding:          25px 0 0 25px;
}
.text_bottom {
  width:            230px;
  height:           51px;
  margin-top:       -25px;
  margin-left:      100px;
  background:       url("../images/bg_grey.jpg") repeat;
}
.text_bottom p {
  margin-top:       15px;
  font-size:        24px;
  text-align:       center;
  padding-top:      10px;
}

.page-header .pull-right {
  z-index:  99;
  position: absolute;
  right:    0;
}

/* Slider
================================ */
#pttk_carousel {
  margin-bottom:    75px;
}
.slider_bg_box{
  width:            555px;
  height:           276px;
}         
.carousel-caption, .carousel-control{
  color:            #333;
  font-family:      'MyTinos', 'Tinos', serif;
}
.carousel-indicators li{
  border-color:     #333;
}
.carousel-indicators .active{
  background-color: #333;
}



/* Imprezy page css
================================ */
.imprezy_header {
  text-align:       center;
  background-color: #34510e;
  border-radius:    10px;
  padding:          10px;
  color:            white;  
  font-size:        21px;
  line-height:      28px;
  height:           72px;
}
.short_text {
  padding-top:      21px;
}
.imprezy_box{
  margin-bottom:    50px;
}
.imprezy_content {
  font-size:        15px;
  line-height:      23px;
  text-align:       center;
}
.turysta_img {
  background-image: url("../images/turysta.jpg");
  width:            100px;
  height:           136px;
  margin:           20px auto;
}
.rajd_img {
  background-image: url("../images/logo_rajd.png");
  width:            138px;
  height:           136px;
  margin:           20px auto;
}
.gory_img {
  background-image: url("../images/gory.jpg");
  width:            188px;
  height:           136px;
  margin:           20px auto;
}
.zamek_prezyd_img {
  background-image: url("../images/zamek_prezyd.jpg");
  width:            216px;
  height:           136px;
  margin:           20px auto;
}
.imprezy_title {
  font-family:      'Lobster', 'cursive';
  font-size:        48px;
  padding:          45px 0 20px 0;
  clear:            both;
}
.imprezy_mid_title {
  text-align:       left;
  padding-left:     18px;
  font-family:      'Lobster', 'cursive';
  font-size:        27px;
}
.imprezy_desc {
  text-align:       left;
  padding:          0 20px;  
}