Biuro Obsługi Ruchu Turystycznego
przy Oddziale PTTK w Wiśle
czynne jest:
pon. - piątek w godz. 9.00 - 14.00
sobota           w godz. 9.00 - 12.00
                                                

ul. Lipowa 4a
43-460 Wisła
tel./fax. 033-8553560
pttk@wisla.pl
www.pttk.wisla.pl

Zapraszamy serdecznie
----------------------------------------------------------------------------------------
 
 

 

 

 

 

Z A P R A S Z A

na

wycieczkę po Wiśle połączoną ze zwiedzaniem Zamku Rezydencji Prezydenta RP

na Zadnim Groniu



Po drodze pokażemy:

l        Zameczek Myśliwski Habsburgów – obecna siedziba PTTK

l        Skocznię narciarską w Wiśle Malince

l        Małą zaporę

l        Wylęgarnię pstrąga potokowego

l        Dużą zaporę

Terminy wycieczek do uzgodnienia z BORT PTTK

KONIECZNY JEST  WPIS NA LISTĘ ZWIEDZAJĄCYCH I PODANIE NUMERU PESEL DO GODZ. 17.00 2 DNI PRZED WYCIECZKĄ!!!

 

Zapisy: PTTK, ul. Lipowa 4a, tel. 033/855-35-60 wew. 24.

 

Spotkanie przy PTTK ul. Lipowa 4a.

Na zamek należy ze sobą zabrać dowód osobisty, dzieci legitymację lub paszport.

Koszt: 25 zł od osoby. Cena zawiera przejazd busem, usługę przewodnicką

 

Z a p r a s z a m y !!!

-------------------------------------------------------------------------------------------



 

Zapraszamy do skorzystania

z naszej oferty!!!

Oferujemy również:

-  sprzedaż map i przedwodników,

- rezerwacje noclegów,

-         usługi przewodnickie.

-          

PTTK Oddział Wisła ul. Lipowa 4a, tel. 33 855 35 60, pttk@wisla.pl, www.pttk.wisla.pl.