<div class="main_box container white_box">
  <p id="home_page_intro" class="center-block text-center width_600px">Jesteśmy zapgrupą miłośników Wisły i naszą spacjalnością jest organizowanie wspaniałych wycipo tym cudownym miasteczku. Dlatego też serdecznie zapraszamy Cię do rozejrzenipo naszych strony, gdzie przedstawiamy wiele pomysłów jak miło i przyjemnie spczas w Wiśle</p>
  
  <div ng-controller="carouselController">
    <div style="height: 305px">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <div style="width: 603px;height: 300px;margin: 0 auto;background-color: black;"></div>
          <div class="carousel-caption">
            <h2>{{slide.title}}</h4>
            <small>{{slide.content}}</small>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>