<div class="container width_600px">
  <p id="home_page_intro" class="center-block text-center">PTTK Wisla posiada w swojej ofercie mase ciekawych imprez, na ktore serdecznie zaprasza.</p>
</div>

<div class="row imprezy_box">
  <div class="col-md-3">
    <div class="imprezy_header short_text"><a href="#ku_zrodlom_wisly">Ku źródłom Wisły</a></div>
    <div class="turysta_img"></div>
    <div class="imprezy_content">Międzynarodowy Rajd Narciarsko-Pieszy "Ku źródłom Wisły" jest organizowany dla grup i turystów inwidualnych, a osoby niepełnoletnie biorą w nim udział pod opieką osób dorosłych. Impreza ma na celu propagowanie turystyki narciarskiej, pieszej, zapoznanie z Beskidem Śląskim, zasadami bezpieczeństwa w górach oraz podtrzymanie wspólnoty turystycznej pogranicza.</div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header short_text">Przewodnik czeka</div>
    <div class="gory_img"></div>
    <div class="imprezy_content">to akcja skierowana dla turystów indwywidualnych przyjeżdżających do Wisły na wypoczynek w czasie długich weekendów, oraz w weekendy wakacyjne. Ma na celu zapoznanie turystów z historią Wisły i górami Beskidu Śląskiego.</div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header">Rajd Górski im. Jerzego Kukuczki</div>
    <div class="rajd_img"></div>
    <div class="imprezy_content">Rajd ten przeznaczony jest dla młodzieży szkolnej (szczególnie tej, której szkoły noszą imię Jerzego Kukuczki), także dla turystów indywidualnych. Celem Rajdu jest popularyzacja turystyki, poszerzenie wiedzy o Jerzym Kukuczce, propagowanie przyrodniczych i krajobrazowych walorów Beskidu Śląskiego oraz bezpieczeństwa w górach.</div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header">Zwiedzanie Zameczku Prezydenckiego</div>
    <div class="zamek_prezyd_img"></div>
    <div class="imprezy_content">Od 1 lutego 2008 roku organizację zwiedzania Zamku - Rezydencji Prezydenta RP przejęła bezpośrednio Kancelaria Prezydenta z siedzibą na Zamku i tam należy zgłaszać chęć zwiedzania oraz załatwiać formalności.</div>
  </div>
</div>