<div class="row noclegi_box">
  <div class="col-md-8">
    Biuro Obsługi Ruchu Turystycznego poleca noclegi na terenie Wisły.

    Jako centralna recepcja w Wiśle oferujemy noclegi na obszarze Wisły, w pokojach o różnym standardzie i wielkości oraz o zróżnicowanych cenach.
    <br><br>
    Pozostałe usługi:

    <div id="list2">
       <ol>
          <li><p><em>informacja turystyczna</em></p></li>
          <li><p><em>usługi przewodnickie</em></p></li>
          <li><p><em>kuligi</em></p></li>
          <li><p><em>złazy</em></p></li>
          <li><p><em>ogniska</em></p></li>
          <li><p><em>rajdy</em></p></li>
          <li><p><em>usługi transportowe</em></p></li>
          <li><p><em>turystyka krajowa</em></p></li>
          <li><p><em>usługi gastronomiczne</em></p></li>
          <li><p><em>ogłoszenia prasowe (Głos Ziemi Cieszyńskiej, Dziennik Zachodni + dodatki, MotoJarmark, Jarmark)</em></p></li>
          <li><p><em>sprzedarz map, przewodników oraz innych wydawnictw turystycznych i pamiątek</em></p></li>
       </ol>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 pull-right">
        Kontakt: <br>
        43-460 Wisła <br>
        ul. Lipowa 4a <br>
        tel.: (033) 855 35 60 <br>
        tel./fax: (033) 855 34 80 <br>
        <div class="inline-link-3">e-mail: pttk@wisla.pl</div>
      </div>
      <div class="col-md-6">
        BORT czynny w godzinach: <br>
        pn. - piatek. - 9.00 - 16.00 <br>
        sobota  - 9.00 - 14.00 
      </div>
    </div>
    <br>
    <h1>SERDECZNIE ZAPRASZAMY!!!</h1>
  </div>
  <div class="col-md-4">
    <img src="images/nocleg.jpg" class="img-responsive ng-scope" alt="Responsive image" style="margin: 20px auto;">
  </div>
</div>