<h1>Kilka słów o PTTK</h1>
<p>
  <q>
    Polskie Towarzystwo Turystyczno-Krajoznawcze stowarzyszenie powstałe z połączenia w 1950 roku Polskiego Towarzystwa Krajoznawczego i Polskiego Towarzystwa Tatrzańskiego, grupujące turystów i krajoznawców. Towarzystwo stawia sobie za zadanie upowszechnianie na terenie Polski turystyki kwalifikowanej i krajoznawstwa.
  </q>
</p>
<p>
  <q>
    PTTK zrzesza około 61 tysięcy członków. Ma ponad 260 oddziałów zrzeszających około 2500 kół i klubów oraz prawie 200 obiektów noclegowych o różnym standardzie. Baza noclegowa PTTK obejmuje ponad 20 tysięcy miejsc noclegowych w 60 domach turysty, 77 schroniskach górskich, 35 stanicach i ośrodkach turystyki wodnej, 33 ośrodkach campingowych i w 5 zajazdach. Prowadzi sieć 16 muzeów regionalnych, które są ośrodkami tradycji polskiego ruchu turystyczno-krajoznawczego. Gromadzone są w nich unikalne dokumenty i inne materiały świadczące o udziale PTTK i jego poprzedników w rozwoju działalności społecznej i kulturowej w Polsce. Jest wydawcą map, folderów i przewodników. Ponadto w całym kraju posiada biblioteki i Regionalne Pracownie Krajoznawcze.
  </q>
</p>
<p>
  <q>
    PTTK posiada własną kadrę - przewodników turystycznych, instruktorów krajoznawstwa i ochrony przyrody oraz przodowników turystyki kwalifikowanej (pieszej, górskiej, rowerowej, kajakowej, motorowej, jeździeckiej i narciarskiej). Prowadzi liczne szkolenia. Każdy z członków Polskiego Towarzystwa Turystyczno-Krajoznawczego po opłaceniu składki członkowskiej otrzymuje legitymację członkowską PTTK, będącą jednocześnie Kartą Rabatową PTTK. Dzięki Karcie członkowie PTTK mogą korzystać z rabatów handlowych za usługi noclegowe w obiektach PTTK i innych, których właściciele przystąpili do karty. Przez najatrakcyjniejsze tereny w Polsce przebiega szacunkowo 63 tysiące kilometrów wyznakowanych przez PTTK szlaków: pieszych nizinnych i górskich, rowerowych, narciarskich, jeździeckich oraz wodnych. Przez Polskę wiodą także dalekobieżne (transeuropejskie) szlaki piesze i rowerowe nad którymi merytoryczną i prawną opiekę sprawuje PTTK.
  </q>
</p>
<p>
  <q>
   PTTK promuje system odznak turystycznych i krajoznawczych, mających na celu popularyzację poznawania Polski. Więcej o odznakach <a href="#odznaki">tutaj</a>
  </q>
  <small>Cytat z <a href="http://pl.wikipedia.org/wiki/Polskie_Towarzystwo_Turystyczno-Krajoznawcze">Wikipedii</a> </small>
</p>

<h1>Kontakt</h1>
<div ng-controller="oNasController">
      <google-map
    center="centerProperty"
    zoom="zoomProperty" 
    markers="markersProperty"
    latitude="clickedLatitudeProperty"
    longitude="clickedLongitudeProperty"
    mark-click="true"
    draggable="true"
    style="height: 400px; width: 50%">
  </google-map>

  </div>
<br><br><br><br><br>