<div class="container sklep" ng-controller="sklepController">
	<header class="clearfix">
		<span>Zapraszamy</span>
		<h1>Nasz mały sklepik</h1>
		<p>, który mieści się na parterze budynku oddziału. Znajdziesz tam w przystępnych cenach wiele wydawnictw turystycznych takich jak:</p>
		<ul>
			<li>duży wybór map turystycznych</li>
			<li>przewodniki po Wiśle i okolicach</li>
			<li>wydawnictwa związane ze zdobywaniem odznak turystycznych (GOT, WOT, MOT)</li>
			<li>same odznaki</li>
			<li>widokówki</li>
			<li>inne ciekawe rzeczy</li>
		</ul>
		<nav>
	</header>
	<div id="grid-gallery" class="grid-gallery">
		<section class="grid-wrap">
			<ul class="grid">
				<li class="grid-sizer"></li><!-- for Masonry column width -->
				<li>
					<figure>
						<img src="images/img_shop/thumb/chopin-golden.png" alt="chopin-golden"/>
						<figcaption><h3>Golden nordic</h3>
							<p>Nakład: 2000 sztuk</p>
							<p>Średnica: 30,88 mm</p>
							<p>Waga: 12,30 g</p>
							<p>Data emisji: 22.02.10</p>
							<p>Cena: 10zł lub 25zł</p>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="images/img_shop/thumb/chopin-nowe-srebro.png" alt="chopin-nowe-srebro"/>
						<figcaption><h3>Nowe srebro</h3>
							<p>Nakład: 2000 sztuk</p>
							<p>Średnica: 30,88 mm</p>
							<p>Waga: 12,30 g</p>
							<p>Data emisji: 22.02.10</p>
							<p>Cena: 10zł lub 25zł</p>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="images/img_shop/thumb/chopin-srebro.png" alt="chopin-srebro"/>
						<figcaption><h3>Srebro</h3>
							<p>Nakład: 2000 sztuk</p>
							<p>Średnica: 30,88 mm</p>
							<p>Waga: 12,30 g</p>
							<p>Data emisji: 22.02.10</p>
							<p>Cena: 10zł lub 25zł</p>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="images/img_shop/thumb/chopin-srebro2.png" alt="chopin-srebro2"/>
						<figcaption><h3>Golden nordic</h3>
							<p>Nakład: 2000 sztuk</p>
							<p>Średnica: 30,88 mm</p>
							<p>Waga: 12,30 g</p>
							<p>Data emisji: 22.02.10</p>
							<p>Cena: 10zł lub 25zł</p>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="images/img_shop/thumb/5.png" alt="img05"/>
						<figcaption><h3>Kale chips lomo biodiesel</h3><p>Pariatur food truck street art consequat sustainable, et kogi beard qui paleo. </p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="images/img_shop/thumb/6.png" alt="img06"/>
						<figcaption><h3>Exercitation occaecat</h3><p>Street chillwave hoodie ea gentrify.</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="images/img_shop/thumb/1.png" alt="img01"/>
						<figcaption><h3>Selfies viral four</h3><p>Raw denim duis Tonx Shoreditch labore swag artisan High Life cred, stumptown Schlitz quinoa flexitarian mollit fanny pack.</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="images/img_shop/thumb/2.png" alt="img02"/>
						<figcaption><h3>Photo booth skateboard</h3><p>Vinyl squid ex High Life. Paleo Neutra nulla master cleanse, Helvetica et enim nesciunt esse.</p></figcaption>
					</figure>
				</li>
			</ul>
		</section><!-- // grid-wrap -->
		<section class="slideshow">
			<ul>
				<li>
					<figure>
						<figcaption>
							<h3>Materiał: golden nordic</h3>
						</figcaption>
						<img src="images/img_shop/large/chopin-2010_03.png" alt="img01"/>
					</figure>
				</li>
				<li>
					<figure>
						<figcaption>
							<h3>Vice velit chia</h3>
							<p>Chillwave Echo Park Etsy organic Cosby sweater seitan authentic pour-over. Occupy wolf selvage bespoke tattooed, cred sustainable Odd Future hashtag butcher.</p>
						</figcaption>
						<img src="images/img_shop/large/2.png" alt="img02"/>
					</figure>
				</li>
				<li>
					<figure>
						<figcaption>
							<h3>Brunch semiotics</h3>
							<p>IPhone PBR polaroid before they sold out meh you probably haven't heard of them leggings tattooed tote bag, butcher paleo next level single-origin coffee photo booth.</p>
						</figcaption>
						<img src="images/img_shop/large/3.png" alt="img03"/>
					</figure>
				</li>
				<li>
					<figure>
						<figcaption>
							<h3>Chillwave nihil occupy</h3>
							<p>Vice cliche locavore mumblecore vegan wayfarers asymmetrical letterpress hoodie mustache. Shabby chic lomo polaroid, scenester 8-bit Portland Pitchfork VHS tote bag.</p>
						</figcaption>
						<img src="images/img_shop/large/4.png" alt="img04"/>
					</figure>
				</li>
				<li>
					<figure>
						<figcaption>
							<h3>Kale chips lomo biodiesel</h3>
							<p>Chambray Schlitz pug YOLO, PBR Tumblr semiotics. Flexitarian YOLO ennui Blue Bottle, forage dreamcatcher chillwave put a bird on it craft beer Etsy.</p>
						</figcaption>
						<img src="images/img_shop/large/5.png" alt="img05"/>
					</figure>
				</li>
				<li>
					<figure>
						<figcaption>
							<h3>Exercitation occaecat</h3>
							<p>Cosby sweater hella lomo Thundercats VHS occupy High Life. Synth pop-up readymade single-origin coffee, fanny pack tousled retro. Fingerstache mlkshk ugh hashtag, church-key ethnic street art pug yr.</p>
						</figcaption>
						<img src="images/img_shop/large/6.png" alt="img06"/>
					</figure>
				</li>
				<li>
					<figure>
						<figcaption>
							<h3>Selfies viral four</h3>
							<p>Ethnic readymade pug, small batch XOXO Odd Future normcore kogi food truck craft beer single-origin coffee banh mi photo booth raw denim. XOXO messenger bag pug VHS. Forage gluten-free polaroid, twee hoodie chillwave Helvetica.</p>
						</figcaption>
						<img src="images/img_shop/large/1.png" alt="img01"/>
					</figure>
				</li>
				<li>
					<figure>
						<figcaption>
							<h3>Photo booth skateboard</h3>
							<p>Thundercats pour-over four loko skateboard Brooklyn, Etsy sriracha leggings dreamcatcher narwhal authentic 3 wolf moon synth Portland. Shabby chic photo booth Blue Bottle keffiyeh, McSweeney's roof party Carles.</p>
						</figcaption>
						<img src="images/img_shop/large/2.png" alt="img02"/>
					</figure>
				</li>						
			</ul>
			<nav>
				<span class="icon nav-prev"></span>
				<span class="icon nav-next"></span>
				<span class="icon nav-close"></span>
			</nav>
			<div class="info-keys icon">Navigate with arrow keys</div>
		</section><!-- // slideshow -->
	</div><!-- // grid-gallery -->
</div>
