<div class="container width_600px">
  <p id="home_page_intro" class="center-block text-center">PTTK Wisla posiada w swojej ofercie mase ciekawych <a href="#imprezy" style="color:#333;text-decoration: underline;">imprez</a>, na ktore serdecznie zaprasza.</p>
</div>

<div class="row imprezy_box">
  <div class="col-md-3">
    <div class="imprezy_header short_text"><a href="#ku_zrodlom_wisly">Ku źródłom Wisły</a></div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header short_text"><a href="#ku_zrodlom_wisly">Przewodnik czeka</a></div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header"><a href="#rajd_kukuczki">Rajd Górski im. Jerzego Kukuczki</a></div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header"><a href="#ku_zrodlom_wisly">Zwiedzanie Zameczku Prezydenckiego</a></div>
  </div>

  <div class="imprezy_content">
    <div class="imprezy_title">Ku źródłom Wisły</div>
		<h2 class="imprezy_mid_title">Rok 2013</h2>
		<p class="imprezy_desc">Dwustu narciarzy biegowych i turystów pieszych wyruszyło 16 marca na jubileuszowy, X Międzynarodowy Rajd Narciarsko-Pieszy Ku Źródłom Wisły. Wystartować można było z Kubalonki lub z Koczego Zamku. 		Zdecydowana większość uczestników wybrała tę pierwszą drogę.</p>
		<p class="imprezy_desc">Trasa prowadziła wpierw drogą na Stecówkę, później jedni poszli szlakami turystycznymi przez Karolówkę, inni zaś wybrali drogę wiodącą do drogi prowadzącej z Wisły Czarnego na Przysłop. Właśnie w 		schronisku na Przysłopiu pod Baranią Górą wszyscy spotkali się na mecie rajdu.</p>
		<p class="imprezy_desc">Po posileniu się pysznym bigosem przyszedł czas na wyróżnienie najliczniej biorących udział w rajdzie grup. Nie po raz pierwszy najliczniejszą, 45-osobową grupą przybyli nasi rodacy zza Olzy – 		członkowie Polskiego Towarzystwa Turystyczno Sportowego Beskid Śląski w Republice Czeskiej. Za nimi uplasowało się Koło PTTK Skoczów ‘Zdobywcy’ przybywając na rajd 29-osobową grupą. Trzecie miejsce 		przypadło 19-osobowej grupie członków PTTK z Radlina.</p>
		<p class="imprezy_desc">Turyści, którzy przybyli na rajd, na mecie mieli okazję do wzięcia udziału w konkursie wiedzy o regionie. Zwyciężył Bolesław Cieślar, za nim uplasowali się Jan Pilch oraz Galina Socha. Komu 		natomiast było mało wysiłku fizycznego, mógł wziąć udział w zawodach w biegu na rakietach śnieżnych, co jak się okazało, nie jest wcale proste.</p>
		<p class="imprezy_desc">Z rajdu wszyscy uczestnicy wracali w wyśmienitych humorach. Zwłaszcza, że nad wyraz dopisała także pogoda. Było słonecznie i przyjemnie, a przy tym jakby specjalnie dla narciarzy dzień wcześniej 		spadła warstwa świeżego śniegu. - Nie promowaliśmy jakoś szczególnie tego rajdu jako jubileuszowego, bo nie chcieliśmy zapeszyć. Tymczasem nawet pogoda wygląda, jakby była specjalnie dla nas – 		cieszyła się Helena Skorupa – prezes Oddziału PTTK w Wiśle, organizatora rajdu.”</p>
  </div>
</div>