<div class="container width_600px">
  <p id="home_page_intro" class="center-block text-center">PTTK Wisla posiada w swojej ofercie mase ciekawych <a href="#imprezy" style="color:#333;text-decoration: underline;">imprez</a>, na ktore serdecznie zaprasza.</p>
</div>

<div class="row imprezy_box">
  <div class="col-md-3">
    <div class="imprezy_header short_text"><a href="#ku_zrodlom_wisly">Ku źródłom Wisły</a></div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header short_text"><a href="#przewodnik_czeka">Przewodnik czeka</a></div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header"><a href="#rajd_kukuczki">Rajd Górski im. Jerzego Kukuczki</a></div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header"><a href="#zameczek_prezd">Zwiedzanie Zameczku Prezydenckiego</a></div>
  </div>

  <div class="imprezy_content">
    <div class="imprezy_title">Przewodnik czeka</div>
		<h2 class="imprezy_mid_title">AKCJA PRZEWODNIK CZEKA 2011</h2>
		<p class="imprezy_desc">Serdecznie zapraszamy wszystkich indywidualnych turystów na wycieczki górskie z przewodnikiem (bezpłatnie)</p>
<ul>
  <li>30 MAJA: spotkanie na PI. B.Hoffa - godz. 9.00 5h
Przejście: Pl. B.Hoffa – Osiedle Jarzębata – Trzy Kopce Wiślańskie – Zakrzosek – Orłowa – zielonym szlakiem przez Palenicę do Ustronia Polany (powrót autobusem)</li>
<li>31 MAJA: spotkanie na PI. B.Hoffa - godz. 9.00 8h
Przejazd z dworca PKS do przystanku Ustroń Polana (godz.9.15). Wyjazd kolejką krzesełkową na stoki Czantorii Wielkiej. Przejście: Stokłosica – Czantoria Wielka – Soszów Wielki – Stożek Wielki – Wisła Łabajów – Wisła Głębce.</li>
<li>1 CZERWCA: spotkanie na PI. B.Hoffa - godz. 8.30 8h
Przejazd z przystanku na ul. Olimpijskiej (godz. 8.42) do Wisły Czarne/Fojtula/. Przejście: Wisła Czarne – Biała Wisełka – Barania Góra – Przysłop – Kubalonka (powrót autobusem).</li>
<li>2 CZERWCA: spotkanie na PI. B.Hoffa godz. 9.30 3h
Spacer po Wiśle /śladami historii/</li>
</ul>
<h3>ZAPRASZAMY</h3>

-------------------------------------------------------------------------------------------
<ul>
<ol>- Uczestnicy ubezpieczają sie we własnym zakresie</ol>
<ol>- Przejazd autobusem PKS i kolejkami na koszt uczestników,</ol>
<ol>- Trasy przewidują zdobycie Małej Odznaki Wiślańskiej (regulaminu szukaj na tej stronie)</ol>
<ol>- Możliwe zmiany przebiegu tras w zależnosci od warunków atmosferycznych,</ol>
<ol>- Godziny spotkań (tam gdzie to konieczne), zostaną uaktualnione gdy nastąpi zmiana rozkładu PKS (proszę śledzić powyższy program)</ol>S  
</ul>

<p class="imprezy_desc">Zapraszamy wszystkich turystów indywidualnych!</p>
  </div>
</div>