<div class="container width_600px">
  <p id="home_page_intro" class="center-block text-center">PTTK Wisla posiada w swojej ofercie mase ciekawych <a href="#imprezy" style="color:#333;text-decoration: underline;">imprez</a>, na ktore serdecznie zaprasza.</p>
</div>

<div class="row imprezy_box">
  <div class="col-md-3">
    <div class="imprezy_header short_text"><a href="#ku_zrodlom_wisly">Ku źródłom Wisły</a></div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header short_text"><a href="#przewodnik_czeka">Przewodnik czeka</a></div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header"><a href="#rajd_kukuczki">Rajd Górski im. Jerzego Kukuczki</a></div>
  </div>
  <div class="col-md-3">
    <div class="imprezy_header"><a href="#zameczek_prezd">Zwiedzanie Zameczku Prezydenckiego</a></div>
  </div>

  <div class="imprezy_content">
    <div class="imprezy_title">Zwiedzanie Zameczku Prezydenckiego</div>
		<p class="imprezy_desc">Natomiast Oddział PTTK w Wiśle organizuje wycieczki po Wiśle, których jednym z elementów jest właśnie zwiedzanie Zamku</p>
<br>
W tym roku zaplanowane terminy:<br>
3, 4, 11, 12, 19, 24, 25 LIPIEC 2013r.<br>
1, 2, 7, 9, 14, 22, 28, 30 SIERPIEŃ 2013r.<br>
6, 12, 13, 20, 26 WRZESIEŃ 2013r.<br>
Rozpoczęcie 9.45 Zameczek Myśliwski Habsburgów.
Zapisy PTTK Oddział Wisła.
Serdecznie zapraszamy!!<br>
 Trasa wycieczki:
 <ul>
   <li>A/ Wyjazd spod Zameczku Myśliwskiego Habsburgów (obecna siedziba Oddziału PTTK "Wisła");</li>
   <li>B/ Wystawa Głuszec w Lasach Beskidu Śląskiego;</li>
   <li>C/Skocznia w Wiśle Malince;</li>
   <li>D/ Zapora w Wiśle Czarnem;</li>
   <li>E/ Zamek - Rezydencja Prezydenta RP.</li>
 </ul>

  Czas trwania wycieczki ok. 3,5 godz.
Cena 28 zł od osoby.
Zgłoszenia w Oddziale PTTK - zapraszamy
</p>
  </div>
</div>